<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
			<div class="social-links">

				{%- for entry in site.data.social.social_links -%}
					<a class='social-item' href='{{- entry.user_url -}}'>
						<svg>
							<use xlink:href="{{- '/assets/minima-social-icons.svg#' | append: entry.platform | relative_url -}}"></use>
						</svg>
					</a>
				{%- endfor -%}

			</div>
		</div>
  </div>
</footer>
