input {
	border-radius: 5px;
	font-size: 17px;
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	border: 2px solid grey;
	box-shadow: none;
	min-width: 100%;
	min-height: 40px;
}

button {
  // background-color: white;
  // color: #333333;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

hr.block-separator {
	border-top: 3px dashed #222426;
	color: transparent;
}

.wrapper {
	max-width: calc(80% - (30px));
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
