.footer {
	margin: auto;
}

.social-media-list {
	margin-left: 50px !important;
}

.social-media-list li a{
	border-radius: 100px;
	border: none !important;
	background-color: #444;
}

.p-name, .u-email {
	font-style: italic;
}
