.site-header {
	border-top: none !important;
}

.header-img {
	border-radius: 20px;
	display: inline-block;
	position: relative;
	float: left;
	width: 50px;
	// top: 5px;
}

.site-title{
	text-decoration: none;
}
