---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 70%;

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");


@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$dm-background-color:      #121414 !default;

body {
	font-family: "Times New Roman";
	padding: 0px;
}

a {
	color: inherit !important;
}

.social-media-list {
	margin-left: 50px;
}

.site-header {
	border-top: none !important;
}

.footer {
	margin: auto;
}

.social-media-list li a{
	border-radius: 100px;
	border: none !important;
	background-color: #444;
}

hr.block-separator {
	border-top: 3px dashed #222426;
	color: transparent;
}

.input {
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(58, 63, 65);
	box-shadow: rgba(8, 8, 8, 0.05) 0px 0.0625em 0.125em inset;
	background-color: rgb(24, 26, 27);
	min-width: 40%;
	min-height: 40px;
	font-size: 17px;
}

.collapse{
	display: none;
	font-size: 15px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	background-color: #eef;
}

.header_img {
	border-radius: 20px;
	display: inline-block;
	position: relative;
	float: left;
	width: 50px;
	// top: 5px;
}

.profile_img {
	border-radius: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 2fr;
	column-gap: 30px;
}

.profile_text {
	// border-radius: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.site-title{
	text-decoration: none;
}

.p-name,
.u-email {
	font-style: italic;
}
