<div class="section" id="projects">
	<h2>Experience</h2>
	{% for exp in site.data.experience %}
		<div class="project">

				<div style="margin-left: auto; text-align: right; float: right">
					<strong>
						<p>{{ exp.type }}</p>
						<p>{{ exp.year }}</p>
					</strong>
				</div>
				<div class="project-title">
					<p>{{ exp.name }}</p>
					{% include lang_icon.html languages=exp.languages %}
				</div>

			<p class="subtitle">{{ exp.subtitle }}</p>
			{% if exp.comments %}
				<ul class="comments">
					{% for comment in exp.comments %}
						{% assign parts = comment | split: ":" %}
						<li><strong>{{ parts[0] }}:</strong>{{ parts[1] }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endfor %}
</div>


