---
title: Resume
permalink: /pdf/
layout: pdf
---
<div class="container">
		<div style="float: right; text-align: left">
			<h2>Contact Info</h2>
			<p>{{ site.author.email }}</p>
			<p>{{ site.author.phone }}</p>
			<br>
			{% include social_links.html %}
			<div class="languages" >
				<h2>Programming Languages</h2>
				{%- assign langs = site.data.langs | where_exp: "item", "item.show != false" -%}
				<p>{{ langs | map: "name" | join: ", " }}</p>
			</div>
		</div>

		<h1>{{ site.author.name }}</h1>


	{% include resume/education.html %}


	{% include resume/experience.html %}

	{% include resume/project.html %}
	<div id="article">
		<h2>Publications</h2>
		{% bibliography -T bib_resume --query @*[year>2021] %}
	</div>
</div>
