---
title: Resume
permalink: /pdf/
layout: pdf
---
<div class="container">
	<!-- Header Info: divided into left (personal info) and right (education) blocks -->
	<div class="header-info">
		{% include resume/author.html %}
		<div>
			<h2>Programming Languages</h2>
			{%- assign langs = site.data.langs | where_exp: "item", "item.show != false" -%}
			<p>{{ langs | map: "name" | join: ", " }}</p>
		</div>
	</div>
	{% include resume/education.html %}
	{% include resume/experience.html %}

	{% include resume/project.html %}
	<div id="article">
		<h2>Publications</h2>
		{% bibliography -T bib_resume --query @*[year>2021] %}
	</div>
</div>
