---
title: Resume
permalink: /resume/
layout: default
---

<div class="container">
	<div>

		<div style="text-align: center;">
			<h1>{{site.author.name}}</h1>
			<h4>{{site.author.email}}</h4>
			{%- if include.included == true -%}
			<h5>{{site.author.phone}}</h5>
			{%- endif -%}
			<h3>Programming Languages</h3>
			{%- assign langs = site.data.langs | where_exp: "item", "item.show != false" -%}
			<h5>{{ langs | map: "name" | join: ", " }}</h5>
		</div>

		<hr class='block-spacer'>

		<div style="margin-top: 40px;">
			<h1 class="page-heading">Education</h1>
			{% include_relative education.html included=true %}
		</div>

		<div style="margin-top: 40px;">
			<h1 class="page-heading">Projects</h1>
			{% include_relative repos.html included=true relevant=true %}
		</div>

		<div style="margin-top: 40px;">
			<h1 class="page-heading">Publications</h1>
			{% include_relative publications.html included=true %}
		</div>
	</div>
</div>
