<header style="text-align: center">
	<mat-toolbar>
		<mat-toolbar-row >
			<!--<a href="github.com/theRealCarneiro"><h1>theRealCarneiro</h1></a>-->
			
			<a class="toolbar" mat-button href="https://github.com/theRealCarneiro" target="_blank">
				<img class="img-responsive" src="assets/images/Carneiro_Logo.png">
				theRealCarneiro 
			</a>
			<span style="margin: auto"></span>
			<a class="toolbar" mat-button [routerLink]="'/home'"> Home </a>
			<a class="toolbar" mat-button [routerLink]="'/minlau'"> Minlau </a>
			<a class="toolbar" mat-button [routerLink]="'/dotfiles'"> Dotfiles </a>
		</mat-toolbar-row>
	</mat-toolbar>
</header>
<div class = "container-fluid">
  <router-outlet></router-outlet>
</div>
