header mat-toolbar{
	background: #161b22;
	color: #f5f5f5;
}

mat-sidenav {
	background: #161b22;
	color: #f5f5f5;

}

.mat-button:hover {
  color: #aeb5bb;
}

header h1{
	padding-top:10px;
	margin: 0
}

.toolbar{
	font-size: 18px;
}

.img-responsive {
	width: 35px;
	height: 52px;
}

html, body {
    margin: 0;
    padding: 0;
}
